@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    background: linear-gradient(#2b1055,#7597de);
    overflow-x:hidden ;
}

header{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .logo{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size:2em;
    text-transform: uppercase;
    margin-left:1.5em;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:19.2px;
    padding: 11.52px;
    padding-left:1em;
}

header ul li{
    list-style: none;
    margin-right: 20px;
    margin-left:1em;

}

header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
    padding: 0.6em 1.5em;
}

header ul li a:hover{
    background:#fff;
    color:#2b1055;
}

header ul li a.active{
    background:#fff;
    color:#2b1055;
    padding: 0.6em 1.5em;
}


section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    overflow: hidden;
}

section::before{
    content: '';
    position: absolute;
    bottom:0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#1c0522,transparent);
    z-index:1000;
}

section img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    overflow: hidden;
}

section img#moon{
    mix-blend-mode: screen;
}

section img#mountains_front{
    z-index: 10;
}

#text{
    right:-380px;
    top:150px;
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index:9;
}

#btn{
    text-decoration: none;
    display: inline-block;
    margin-top:9em;
    height:60px;
    align-content: center;
    padding: 8px 30px;
    border-radius: 40px;
    background:#fff;
    color:#2b1055;
    font-size: 1.5em;
    margin-left:42%;
    box-sizing: border-box;
    z-index: 11;
    transform: translateY(400px);
}

.sec{
    position: relative;
    padding: 100px;
    background:#1c0522;
}

.sec h2{
    color: #fff;
    font-size: 3.5em;
    margin-bottom: 10px;
}

.sec p{
    color: #fff;
    font-size: 1.2em;
}

@media (max-width: 1250px) {
  
    a.logo{
        font-size: 26px;
        margin-left: 1em;
    
    }
}

@media (max-width: 1125px) {
    header ul{
        font-size: 16px;
    
    }

    a.logo{
        font-size: 24px;
        margin-left: 1em;
    
    }
}

@media (max-width: 992px) {
    header .logo {
        font-size: 1.5em;
        margin-left: 1em;
    }

    header ul {
        font-size: 16px;
        padding: 8px 20px;
        margin-right: -2em;
        display: none;
    }

    header ul li {
        margin-right: 15px;
    }

    section {
        padding: 50px;
    }

    #text {
        font-size: 5vw;
        right: -250px;
        top: 100px;
    }

    #btn {
        margin-top: 6em;
        height: 50px;
        padding: 6px 20px;
        font-size: 1.2em;
        margin-left: 38%;
        transform: translateY(200px);
    }

    .sec {
        padding: 50px;
    }

    .sec h2 {
        font-size: 2.5em;
    }

    .sec p {
        font-size: 1em;
    }
}


@media (max-width: 576px) {
    header .logo {
        font-size: 1.2em;
        margin-left: 0.5em;
    }

    header ul {
        font-size: 14px;
        padding: 6px 15px;
        margin-right: -1em;
    }

    header ul li {
        margin-right: 10px;
    }

    section {
        padding: 30px;
    }

    #text {
        font-size: 4vw;
        right: -150px;
        top: 80px;
    }

    #btn {
        margin-top: 4em;
        height: 40px;
        padding: 4px 15px;
        font-size: 1em;
        margin-left: 35%;
        transform: translateY(150px);
    }

    .sec {
        padding: 30px;
    }

    .sec h2 {
        font-size: 2em;
    }

    .sec p {
        font-size: 0.9em;
    }
}

