@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    background: #1c0522;
    overflow-x:hidden ;
}

.center {
    position: fixed;
    width: 100%;
    height: 100vh;
    background:#000;
    z-index: 1003;
    color:white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: opacity 1s ease-out;
}

#content {
    display: block;
    opacity: 0;
    transform: translateY(20px); /* Décalage initial pour l'effet d'apparition */
    transition: opacity 1s ease-out, transform 1s ease-out; /* Transition sur opacité et position */
}

/* Classe active pour afficher le contenu */
#content.active {
    opacity: 1;
    transform: translateY(0); /* Remettre à la position normale */
}

.ring {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 1.25s linear infinite;
}

@keyframes ring {
    0% {
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #e65c00;
    }
    50% {
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #18b201;
    }
    100% {
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #0456c8;
    }
   
}

.ring:before {
    position: absolute;
    content:'';
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 5px rgba(255,255,255,0.3);
    border-radius: 50%;
}

.loading {
    color: #737373;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
    animation: text 3s ease-in-out infinite;
}

@keyframes text {
    0% {
        color: #737373;
    }
    50% {
        color: #212121;
    }
    100% {
        color: #737373;
    }
}
    

  
.logo{
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    width: 100%;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 13px 3%;
    background-color: #0e0d0d;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    height:80px;
    color:white;
    position: fixed;
    width: 100%;
    z-index: 1001;
}

.navlist{
    display: flex;
    list-style: none;
    width: 100%;
    text-decoration: none;
    color:white;
    justify-content: flex-end;
}

.active{
    color: black;
    background-color:white;
    border-radius: 20px;
    padding:0.6em 1.5em;
    text-decoration: none;
    transition: all 0.3s ease;
}

.navlist a:not(.active){
    text-decoration: none;
    color:white;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.navlist a:not(.active):hover{
    background-color:white;
    color:black;
    transition: all 0.3s ease;
    padding:0.6em 3em;
}

.navlist a{
    padding:0.6em 3em;
    margin-right:0.5em;
}

.burger-menu{
    display: none;
    z-index:4;
    opacity: 0;
}

.menu-burger-hide {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: white;
    transition: right 0.3s ease;
    z-index: 100;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    text-align: center;
}

nav.menu-burger-hide ul li {
    margin: 20px 0;
}

nav.menu-burger-hide ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav.menu-burger-hide ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

#menu-toggle {
    display: none;
}

.menu-btn {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 35px;
    height: 30px;
    cursor: pointer;
    z-index: 101;
}

.menu-btn span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

#menu-toggle:checked + .menu-btn span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
    width:35px;
    height: 4px;

}

#menu-toggle:checked + .menu-btn span:nth-child(2) {
    opacity: 0;
}

#menu-toggle:checked + .menu-btn span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
    width:35px;
    height: 4px;
}

#menu-toggle:checked ~ nav.menu-burger-hide {
    right: 0;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 250px;
    display: flex;
    overflow: hidden;
}

section::before{
    content: '';
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#1c0522,transparent);
    z-index:1000;
}

section img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    overflow: hidden;
}

section img#moon{
    mix-blend-mode: screen;
}

section img#mountains_front{
    z-index: 10;
}

#text{
    right:27.5vw;
    top:150px;
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index:9;
}

#btn {
    text-decoration: none;
    display: flex;
    margin-top: 10em;
    height: 10em;
    padding: 8px 50px;
    color: #2b1055;
    font-size: 1.2em;
    box-sizing: border-box;
    z-index: 11;
    transform: translateY(400px);
    justify-content: center;
    align-items: center;
    width: fit-content;
    flex-direction: row;
    border-radius: 3em;
    border:0.2em solid #ffffff;
    opacity: 0.6;
    margin-left:auto;
    margin-right:auto;
    margin-top:2em;
}

#btn:before{
    position: absolute;
    content: "";
    margin: auto;
    left: 0;
    right:0;
    top:1.3em;
    height: 1.5em;
    width: 1em;
    background-color:#ffffff;
    border-radius: 40%;
    animation: move-down 2s infinite;   
}

@keyframes move-down{
    80%{
        opacity: 0.5;
    }
    100%{
        transform: translateY(2.5em);
        opacity: 0;
    }
}

#btn:after{
    position: absolute;
    content:'Scroll'; 
    margin: auto;
    left: 0;
    right:0;
    top:6em;
    height: 1.5em;
    width: 50%;
    color:white;
}


.sec{
    position: relative;
    padding: 100px;
    background:#1c0522;
}

.sec h2{
    color: #fff;
    font-size: 3.5em;
    margin-bottom: 10px;
}

.sec p{
    color: #fff;
    font-size: 1.2em;
}


.wrapper,.wrapper2{
    width: 40%;
    min-width: 500px;
    position: relative;
    top: 50%;
    margin-top:5em;
}

.all-skills {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top:2em;
    margin-bottom: 8em;
    gap:150px;
}

.container{
    width: 100%;
    padding: 50px 30px;
    background-color: rgba(255,255,255,0.06);
    border: 2px solid rgba(255,255,255,0.06);
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
}

.container2{
    width: 100%;
    padding: 50px 30px;
    background-color: rgba(255,255,255,0.06);
    border: 2px solid rgba(255,255,255,0.06);
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    color:white;
}

.shape-1{
    height: 220px;
    width: 220px;
    background: linear-gradient(#2c0f4d, #040008);
    border-radius: 50%;
    position: absolute;
    bottom: -100px;
    left: -80px;
    z-index: -1;
}

.shape-2{
    height: 180px;
    width: 180px;
    background: linear-gradient(#0f072b, #123979);
    border-radius: 50%;
    position: absolute;
    top: -100px;
    right: -50px;
    z-index: -1;
}

.shape-3{
    height: 180px;
    width: 180px;
    background: linear-gradient(#2c0f4d, #040008);
    border-radius: 50%;
    position: absolute;
    top: -100px;
    right: -50px;
    z-index: -1;
}

.shape-4{
    height: 220px;
    width: 220px;
    background: linear-gradient(#0f072b, #123979);
    border-radius: 50%;
    position: absolute;
    bottom: -100px;
    left: -80px;
    z-index: -1;
}



.container *,.container2 *{
    font-family: "Poppins",sans-serif;
    color: #ffffff;
    font-weight: 500;
}

h2{
    margin-bottom: 40px;
    letter-spacing: 2px;
}
.skills:not(:last-child){
    margin-bottom: 30px;
}
.details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.bar{
    position: relative;
    background-color: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.06);
    padding: 7px 10px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}
.bar div{
    position: relative;
    width: 0;
    height: 5px;
    border-radius: 10px;
    background-color: #badefc;
    border: 1px solid #1c97fc;
    box-shadow: 0 0 5px rgba(28,151,252,0.6);
}
#html-bar{
    animation: html-fill 2s forwards;
}
@keyframes html-fill{
    100%{
        width: 90%;
    }
}
#css-bar{
    animation: css-fill 2s forwards;
}
@keyframes css-fill{
    100%{
        width: 85%;
    }
}
#js-bar{
    animation: js-fill 2s forwards;
}
@keyframes js-fill {
    100%{
        width: 80%;
    }
}
#ReactJS-bar{
    animation: ReactJS-fill 2s forwards;
}
@keyframes ReactJS-fill{
    100%{
        width: 80%;
    }
}
#VUE-bar{
    animation: VUE-fill 2s forwards;
}
@keyframes VUE-fill{
    100%{
        width: 80%;
    }
}
#PHP-bar{
    animation: PHP-fill 2s forwards;
}
@keyframes PHP-fill{
    100%{
        width: 75%;
    }
}
#MYSQL-bar{
    animation: MYSQL-fill 2s forwards;
}
@keyframes MYSQL-fill{
    100%{
        width: 75%;
    }
}

#flutter-bar{
    animation: flutter-fill 2s forwards;
}
@keyframes flutter-fill{
    100%{
        width: 70%;
    }
}

#teamwork-bar{
    animation: teamwork-fill 2s forwards;
}
@keyframes teamwork-fill{
    100%{
        width: 95%;
    }
}

#communication-bar{
    animation: communication-fill 2s forwards;
}
@keyframes communication-fill{
    100%{
        width: 90%;
    }
}

#adapt-bar{
    animation: adapt-fill 2s forwards;
}
@keyframes adapt-fill{
    100%{
        width: 90%;
    }
}

#resoPb-bar{
    animation: resoPb-fill 2s forwards;
}
@keyframes resoPb-fill{
    100%{
        width: 85%;
    }
}

#time-bar{
    animation: time-fill 2s forwards;
}
@keyframes time-fill{
    100%{
        width: 85%;
    }
}

/*====================RESPONSIVE==========================*/

@media (max-width: 1250px) {
    .all-skills {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin-top: 7em;
        gap: 150px;
        flex-direction: column;
    }
    .wrapper{
        margin-top:0;
    }
}

@media (max-width: 1050px) {
    .navlist {
        display: none;
    }
    .menu-btn {
        display: block;
    }
    .logo{
        font-size:32px;
        width: fit-content;
    }
    section::before{
        left:0;
    }
}

@media (max-width: 992px) {
    section {
        padding: 50px;
    }

    #text {
        top: 250px;
    }

    section::before{
        left:0;
    }

    .sec {
        padding: 50px;
    }

    .sec h2 {
        font-size: 2.5em;
    }

    .sec p {
        font-size: 1em;
    }
}

@media (max-width: 850px) {
    .logo{
        font-size:28px;
    }
    section::before{
        left:0;
    }
}

@media (max-width: 650px) {
    .wrapper,.wrapper2{
        width: 50%;
        min-width: 300px;
    }
    .container,.container2{
        padding: 50px 30px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .shape-1{
        height: 150px;
        width: 150px;
        bottom: -60px;
        left: -45px;
    }
    
    .shape-2{
        height: 120px;
        width: 120px;
        top: -50px;
        right: -45px;
    }
    
    .shape-3{
        height: 120px;
        width: 120px;
        top: -50px;
        right: -45px;
    }
    
    .shape-4{
        height: 150px;
        width: 150px;
        bottom: -60px;
        left: -45px;
    }
}

@media (max-width: 576px) {
    .logo {
        font-size: 24px;
    }
    section{
        display: flex;
        justify-content: center;
    }
    section::before{
        left:0;
    }

    #text {
        top: 300px;
    }
    .sec {
        padding: 30px;
    }

    .sec h2 {
        font-size: 2em;
    }

    .sec p {
        font-size: 0.9em;
    }
    #btn {
        padding: 8px 38px;
        height: 8em;
        width: auto;
    }
    #btn:after{
        top: 5.2em;
        margin-left:12px;
    }

    @keyframes move-down{
        80%{
            opacity: 0.5;
        }
        100%{
            transform: translateY(2em);
            opacity: 0;
        }
    }
    
}

@media (max-width: 450px) {
    .logo {
        font-size: 22px;
    }
    section::before{
        left:0;
    }
}

@media (max-width: 400px) {
    .shape-1{
        height: 100px;
        width: 100px;
        bottom: -40px;
        left: -35px;
    }
    
    .shape-2{
        height: 80px;
        width: 80px;
        top: -35px;
        right: -30px;
    }
    
    .shape-3{
        height: 80px;
        width: 80px;
        top: -35px;
        right: -30px;
    }
    
    .shape-4{
        height: 100px;
        width: 100px;
        bottom: -40px;
        left: -35px;
    }
}

@media (max-width: 350px) {
    .logo {
        font-size: 18px;
    }
    section::before{
        left:0;
    }
    #btn {
        padding: 8px 38px;
        height: 8em;
    }

    .shape-1, .shape-2, .shape-3, .shape-4 {
        display: none;
    }
    
    @keyframes move-down {
        60% {
            opacity: 0.5;
        }
        100% {
            transform: translateY(2.2em);
            opacity: 0;
        }
    }

}

